.container{
    background-image: url("../images/background.avif");
    height:250px;
    padding:150px;
}
.accomodation-para{
  font-size: 36px;
  color:white;
  line-height: 10px;
}
.group{
    background-color: #F7F7F8;
    padding:20px;
    border-radius: 16px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 80px;
}
.box{
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 20px;
    border-color: #393a41;
    height:50px;
    margin:20px;
}
.map-image,.calendar-image,.person-image{
    width:20px;
    height:15px;
}
.image{
    margin:20px;
}
.image-description p{ 
  margin:1px;
  padding: 0;
}
.image-description{
    padding:6px;
}
.seek-button{
    margin:20px;
    margin-left:0px;
}
.seek-button button{
    padding:20px;
    color: white;
    background-color: #4d87d8;
    border-radius: 40px;
    border-style: none;
    
}